<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="newPage" class="container-fluid">
    <div class="card-body" align="center">
        <b>
            <div class="conteiner col-4 needs-validation" id="newUserAddDivAllFilds">
                <input type="hidden" class="form-control" id="id">

                <div class="form-group">
                    <label for="name">First Name</label>
                    <input type="text" field="name" class="form-control" id="name" placeholder="First Name"
                           required>
                    <!--                                            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>-->
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" field="lastname" class="form-control" id="lastname" placeholder="Last Name"
                           required>
                    <!--                    <div style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">lastname-->
                    <!--                        Error-->
                    <!--                    </div>-->
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" field="age" class="form-control" id="age" placeholder="Age" required>
                    <!--                    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age Error</div>-->
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" field="email" class="form-control" id="email" placeholder="Email" required>
                    <p style="color:red" hidden id="errorEmail">Email error</p>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" field="password" class="form-control" id="Password"
                           placeholder="Password" required>
                    <!--                    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password-->
                    <!--                        Error-->
                    <!--                    </div>-->
                </div>
                <div class="form-group">
                    <label for="selectRoles">Role</label>
                    <select multiple="" size="0" name="rolNewUser" class="form-control" id="roles" required="">
                    </select>
                </div>
            </div>
            <p style="color:red" hidden id="errorNewForm">Error</p>
            <button type="button" onclick="addNewUser('newUserAddDivAllFilds')" id="buttonAddUser"
                    class="btn btn-success btn-lg col-2">Add new user
            </button>
        </b>
    </div>
</div>
</html>